/*************************
****** Inbox Styles ******
*************************/

.overwrap-box { background-color:#d5e4ed; border:solid 1px #c0c0c0; border-radius:4px; padding:6px; margin-bottom:7px; }
.overwrap-module { background-color:#617B54 !important; }
.overwrap-module>.overwrap-line { color:white !important; }
.overwrap-line { padding:0px 2px 0px 2px; font-weight:bold; }
.overwrap-line>div { display:inline-block; vertical-align:top; }

.overwrap-name { font-size:1.2em; }
.overwrap-details { }

.inner-box { display:table; border-collapse:collapse; background-color:#e8eef1; border:solid 1px #c0c0c0; border-radius:4px; margin-top:6px; border-bottom:none; width:100%; }
.inner-line { display:table-row; border-bottom:solid 1px #c0c0c0; height:50px; }
.inner-line a, .inner-line a:visited { color:#686868 !important; }
.inner-line a:hover { color:#53aefe !important; }

.inner-name { display:table-cell; vertical-align:top; border-right:solid 1px #c0c0c0; font-weight:bold; color:#56ccc8 !important; padding:5px; }
.inner-desc { font-weight:normal; font-size:0.8em; color:#5d5d5d; }

.inner-posts { display:table-cell; vertical-align:middle; text-align:center; border-right:solid 1px #c0c0c0; }
.inner-details { display:table-cell; padding:4px; font-size:0.8em; }
.inner-details>a { font-weight:bold; }

.inner-paginate { font-size:0.8em; color:white; }
.inner-paginate>a, .inner-paginate>a:visited { color:white !important; }
.inner-paginate>a:hover>span { background-color:#cc4040; }
.inner-paginate>a>span { padding:0 4px 0 4px; background-color:#ee6060; border-radius:3px; }

.sticky-thread { background-color:#FFFFDD; }

.new-sub { color: #CD853F; }

@media (min-width:800px) {
	.overwrap-name { width:60% }
	.overwrap-posts { width:8%; }
	.overwrap-details { width:21%; }
	.inner-name { width:59%; }
	.inner-posts { width:10%; }
	.inner-details { width:36%; }
}

@media (min-width:500px) and (max-width:799px) {
	.overwrap-name { width:57% }
	.overwrap-posts { width:10%; }
	.overwrap-details { width:21%; }
	.inner-name { width:56%; }
	.inner-posts { width:11%; }
	.inner-details { width:36%; }
}

@media (min-width:350px) and (max-width:499px) {
	.overwrap-name { width:63% }
	.overwrap-posts { display:none !important; }
	.overwrap-details { width:19%; }
	.inner-name { width:59%; }
	.inner-posts { display:none !important; }
	.inner-details { width:36%; }
}

@media (max-width:349px) {
	.overwrap-name, .inner-name { width:100% }
	.overwrap-details, .inner-details, .inner-posts, .overwrap-posts { display:none !important; }
}

/**************************
****** Thread Styles ******
**************************/

.thread-tline { background-color:#77b5db; border-radius:5px; padding:4px; margin-bottom:7px; color:white; font-weight:bold; overflow:hidden; }
#content .thread-tline a { color:white !important; }
.thread-tline a:hover { text-decoration:underline !important; }

.thread-page { background-color:#77B5DB; padding:2px 4px 2px 4px; border-radius:4px; }
.thread-tline .thread-page:hover { text-decoration:none !important; background-color:#ea6060 !important; }
.thread-page.thread-page-active { background-color:#ea6060 !important; }

.thread-post { height:100%; width:100%; overflow:hidden; border:solid 1px #c0c0c0; border-radius:5px; background-color:#e8eef1; margin-bottom:6px; }

/* Status Bar (Profile Picture, Name, Links) */
.post-left, .post-left-avatar { float:left; padding:4px; vertical-align:top; border-right:solid 1px #c0c0c0;}

.post-status a { color:#5d5d5d !important; }
.post-status a:hover { color:#53aefe !important; }

.post-status-top { font-weight:bold; overflow:hidden; }
.post-status-bottom { margin-top:4px; margin-bottom:8px; font-size:0.8em; overflow:hidden; }

.post-count-row { margin-top:2px; font-size:0.85em; }

.post-like-row { margin-top:2px; font-size:0.85em; }
.post-like-row img { vertical-align:text-bottom; }

/* Thread Post */
.post-right, .post-right-avatar { padding:0px 4px 4px 0px; }
.post-right img, .post-right-avatar img { max-width:100%; }

/* Post Elements */
.quote, .spoiler-header, pre {
	border-radius:4px;
	margin-left:2em;
	background-color:#c7e0ee;	
	background-image:-linear-gradient(#c7e0ee, #e8eef1);
	background-image:-moz-linear-gradient(top, #c7e0ee, #e8eef1);
	background-image:-ms-linear-gradient(top, #c7e0ee, #e8eef1);
	background-image:-o-linear-gradient(#c7e0ee, #e8eef1);
	background-image:-webkit-gradient(linear, left top, left bottom, from(#c7e0ee), to(#e8eef1));
	background-image:-webkit-linear-gradient(top, #c7e0ee, #e8eef1);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c7e0ee', endColorstr='#e8eef1');
	padding:5px;
}
.quote:before
{
	content:"\201C ";
	color:#2c7099;
	font-family:Georgia, serif;
	font-style:italic;
	font-size:3em;
	position:absolute;
	margin-left:-0.75em;
	margin-top:-0.25em;
}
.quote>.quote, .quote>.quote-by { margin-right:1em; }
.quote-by { text-align:right; font-style:italic; color:#2c7099; }

.thread-post ul, #preview ul { list-style-type:disc;margin-left:1em; }

.spoiler-header { display:block; }
.spoiler-header:before
{
	content:"\e62b ";
	color:#2c7099;
	font-family:'icomoon';
	font-size:1.5em;
	position:absolute;
	margin-left:-1.45em;
	margin-top:-0.25em;
}
.spoiler-header:hover
{
	background-color:#97d5fb;
	background-image:none;
	color:white !important;
	transition:0.1s ease-in-out;
}
.spoiler-content
{
	display:none;
	padding-left:0.5em;
	margin-left:2em;
}

pre { overflow:auto; font-family:Consolas,monospace; }
pre:before
{
	content:"\e63b ";
	color:#2c7099;
	font-family:'icomoon';
	font-size:1.25em;
	position:absolute;
	margin-left:-1.75em;
	margin-top:-0.25em;
}

/* Responsive Threads */
@media (min-width:800px) {
	.post-left { width:178px; }
	.post-right { margin-left:183px; }
	.post-img { width:170px; }
	.post-status-mobile { display:none; }
}

@media (min-width:500px) and (max-width:799px) {
	.post-left { width:136px; }
	.post-right { margin-left:141px; }
	.post-img { width:128px; }
	.post-status-mobile { display:none; }
}

@media (min-width:0px) and (max-width:499px) {
	.post-left { width:94px; }
	.post-right { margin-left:99px; }
	.post-img { width:86px; }
	.post-status { display:none; }
	.thread-signature { display:none; }
	.post-status-mobile { display:block; margin-top: 18px; border-top:solid 1px #c0c0c0; text-align:right; }
}

/* The Post Option Line */
.post-options { width:100%; text-align:right; margin-top:4px; }

/**********************
****** Signature ******
**********************/

.thread-signature { width:100%; margin-top: 18px; border-top:solid 1px #c0c0c0; max-height:300px; overflow-y:hidden; }

/************************
****** User Colors ******
************************/

.role-admin { color:red !important; font-weight:bold; }
.role-staff { font-weight:bold; }
.role-artist { color:indigo !important; font-weight:bold; }
.role-mod { color:orange !important; font-weight:bold; }
.role-programmer { color:green !important; font-weight:bold; }
.role-writer { color:teal !important; font-weight:bold; }